.card{
   width: 368px;
   height: 500px;
    background:white;
    border-radius: 8px;
    margin: auto;
    border: 2px;
    box-shadow: 10px 10px 10px whitesmoke;
    margin-top: 164px;

    
}
img{
    padding: 16px 16px 16px 16px;
    width: 336px;
    height: 152px;
    border-radius: 20px;
}

.design{
    padding: 4px 0 4px 0;
height: 20px;
width: 70px;
background: rgb(179, 12, 235);
border-radius: 15px;
text-align: center;
font-size: 13px;
margin: 0px 16px 0px 16px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.head h3{
    padding: 16px 0 6px 0;
    margin: 0px 16px 0px 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content p{
    
    padding: 0 16px 20px 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.foot p{
    
    height: 40px;
    padding: 20px 16px 20px 16px;
    margin: 0px 0px 0px 0px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr{
   width: 336px; 
  
}